<table class="table">
    <thead>
    <tr>
      <th>Intake Type</th>
      <th>In Date</th>
      <th>Pet Name</th>
      <th>Type</th>
      <th>Age</th>
      <th>Size</th>
      <th>Color</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
  {{#each animals as |animal|}}
    <tr>
      <td>{{animal.intake_type}}</td>
      <td>{{animal.in_date}}</td>
      <th>{{animal.pet_name}}</th>
      <td>{{animal.animal_type}}</td>
      <td>{{animal.pet_age}}</td>
      <td>{{animal.pet_size}}</td>
      <td>{{animal.color}}</td>
      <td>{{animal.breed}}</td>
      <td>{{animal.sex}}</td>
      <td>{{animal.picture}}</td>
    </tr>
  {{/each}}
  </tbody>
  </table>
</div>