
<div class="select is-info" id="size">
  <select>
    <option>Size</option>
    <option>Small</option>
    <option>Medium</option>
    <option>Large</option>
  </select>
</div>
<div class="select is-info" id="color">
  <select>
    <option>Color</option>
    <option>Gray</option>
    <option>Brown</option>
    <option>Black</option>
    <option>White</option>
    <option>Blue</option>
    <option>Orange</option>
  </select>
</div>
<div class="select is-info" id="gender">
  <select>
    <option>Gender</option>
    <option>M</option>
    <option>F</option>
    <option>S</option>
    <option>N</option>
  </select>
</div>

<div class="table-container">
<table class="table is-bordered is-striped table is-hoverable">
    <thead>
    <tr>
      <th>Intake Type</th>
      <th>In Date</th>
      <th>Pet Name</th>
      <th>Age</th>
      <th>Size</th>
      <th>Color</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Likes</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
  {{#each pets as |pet|}}
    <tr>
      <td>{{pet.intake_type}}</td>
      <td>{{pet.in_date}}</td>
      <th>{{pet.pet_name}}</th>
      <td>{{pet.pet_age}}</td>
      <td>{{pet.pet_size}}</td>
      <td>{{pet.color}}</td>
      <td>{{pet.breed}}</td>
      <td>{{pet.sex}}</td>
      <td></td>
      <td>{{pet.picture}}</td>
    </tr>
  {{/each}}
  </tbody>
  </table>
</div>












































































    <!-- modal -->
    <div class="modal" id="events-modal">
      <div class="modal-background" id="events-modal-bg"></div>
      <div class="modal-content has-background-white py-5 px-5">
        <h3 class="has-text-centered mb-2" id="eventMessageError">
          Looking for somewhere to vibe at?
        </h3>
        <form>
          <!-- text input field -->
          <div class="field">
            <label class="label">Artist Name</label>
            <div class="control">
              <input type="text" class="input" placeholder="Artist Name" id="valueOfArtistName" />
            </div>
          </div>
          <!-- container -->
          <div class="container">
            <div class="columns">
              <!-- First Column for "Event Type" and Radio Buttons -->
              <div class="column is-half">
                <div class="field">
                  <label class="label">Type</label>
                  <div class="control">
                    <div class="field" id="concerts-field">
                      <label class="radio has-text-white has-background-link">
                        <input type="radio" name="type" />
                        Concerts
                      </label>
                    </div>
                    <div class="field" id="festivals-field">
                      <label class="radio has-text-white has-background-link">
                        <input type="radio" name="type" />
                        Festivals
                      </label>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Second Column for Dropdowns -->
              <div class="column is-half">
                <div class="field">
                  <label class="label">Genre</label>
                  <div class="control">
                    <div class="select is-dark">
                      <select id="genreSelect">
                        <option></option>
                        <option>bluegrass</option>
                        <option>blues</option>
                        <option>christian</option>
                        <option>classical</option>
                        <option>country-music</option>
                        <option>edm</option>
                        <option>folk</option>
                        <option>hip-hop-rap</option>
                        <option>indie</option>
                        <option>jamband</option>
                        <option>jazz</option>
                        <option>latin</option>
                        <option>metal</option>
                        <option>pop</option>
                        <option>punk</option>
                        <option>reggae</option>
                        <option>rhythm-and-blues-soul</option>
                        <option>rock</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">State</label>
                  <div class="control">
                    <div class="select is-dark">
                      <select id="usStates">
                        <option></option>
                        <option>US-AL</option>
                        <option>US-AK</option>
                        <option>US-AZ</option>
                        <option>US-AR</option>
                        <option>US-CA</option>
                        <option>US-CO</option>
                        <option>US-CT</option>
                        <option>US-DE</option>
                        <option>US-FL</option>
                        <option>US-GA</option>
                        <option>US-HI</option>
                        <option>US-ID</option>
                        <option>US-IL</option>
                        <option>US-IN</option>
                        <option>US-IA</option>
                        <option>US-KS</option>
                        <option>US-KY</option>
                        <option>US-LA</option>
                        <option>US-ME</option>
                        <option>US-MD</option>
                        <option>US-MA</option>
                        <option>US-MI</option>
                        <option>US-MN</option>
                        <option>US-MS</option>
                        <option>US-MO</option>
                        <option>US-MT</option>
                        <option>US-NE</option>
                        <option>US-NV</option>
                        <option>US-NH</option>
                        <option>US-NJ</option>
                        <option>US-NM</option>
                        <option>US-NY</option>
                        <option>US-NC</option>
                        <option>US-ND</option>
                        <option>US-OH</option>
                        <option>US-OK</option>
                        <option>US-OR</option>
                        <option>US-PA</option>
                        <option>US-RI</option>
                        <option>US-SC</option>
                        <option>US-SD</option>
                        <option>US-TN</option>
                        <option>US-TX</option>
                        <option>US-UT</option>
                        <option>US-VT</option>
                        <option>US-VA</option>
                        <option>US-WA</option>
                        <option>US-WV</option>
                        <option>US-WI</option>
                        <option>US-WY</option>
                        <option>US-DC</option>
                        <option>US-AS</option>
                        <option>US-GU</option>
                        <option>US-MP</option>
                        <option>US-PR</option>
                        <option>US-UM</option>
                        <option>US-VI</option>
                        <option>AU-ACT</option>
                        <option>AU-NSW</option>
                        <option>AU-NT</option>
                        <option>AU-QLD</option>
                        <option>AU-SA</option>
                        <option>AU-TAS</option>
                        <option>AU-VIC</option>
                        <option>AU-WA</option>
                        <option>CA-AB</option>
                        <option>CA-BC</option>
                        <option>CA-MB</option>
                        <option>CA-NB</option>
                        <option>CA-NL</option>
                        <option>CA-NS</option>
                        <option>CA-NT</option>
                        <option>CA-NU</option>
                        <option>CA-ON</option>
                        <option>CA-PE</option>
                        <option>CA-QC</option>
                        <option>CA-SK</option>
                        <option>CA-YT</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-6 has-text-centered">
            <button class="button is-link" id="searchEventButton">
              Search
            </button>
          </div>
          <p></p>
        </form>
      </div>
    </div>