
{{!-- <div class="select is-info" id="size">
  <select name="size">
    <option value="0">Size</option>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
</div>
<div class="select is-info" id="color">
  <select>
    <option>Color</option>
    <option>Gray</option>
    <option>Brown</option>
    <option>Black</option>
    <option>White</option>
    <option>Blue</option>
    <option>Orange</option>
  </select>
</div>
<div class="select is-info" id="gender">
  <select>
    <option>Gender</option>
    <option>M</option>
    <option>F</option>
    <option>S</option>
    <option>N</option>
  </select>
</div>
<button id="go-btn" type="submit">Go</button> --}}
<div class="">
<div class="table-container">
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="myTable">
    <thead>
    <tr>
      <th>Intake Type</th>
      <th>In Date</th>
      <th>Pet Name</th>
      <th>Age</th>
      <th>Size</th>
      <th>Color</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Likes</th>
      <th>Picture</th>
      <th>Pet ID</th>
    </tr>
  </thead>
  <tbody>
  {{#each pets as |pet|}}
  {{log pet}}
    <tr>
      <td>{{pet.intake_type}}</td>
      <td>{{pet.in_date}}</td>
      <th>{{pet.pet_name}}</th>
      <td>{{pet.pet_age}}</td>
      <td>{{pet.pet_size}}</td>
      <td>{{pet.color}}</td>
      <td>{{pet.breed}}</td>
      <td>{{pet.sex}}</td>
      <td></td>
      <td id="petImg"><img src="{{pet.picture}}" alt="Pet Image" style="width:auto;height:auto;"></td>
      <td>{{pet.id}}</td>
    </tr>
  {{/each}}
  </tbody>
  </table>
</div>
</div>


<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card" id="modalData">
    <header class="modal-card-head">
      <p class="modal-card-title">PET CARD</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <h1 id="pet-name-modal" >PET NAME HERE</h1>
      <img id="pet-picture-modal"></img>
      <h2>Breed</h2>
      <p id="pet-breed-modal">PET BREED</p>
      <h2>Age</h2>
      <p id="pet-age-modal">PET AGE</p>
      <h2>Gender</h2>
      <p id="pet-sex-modal">PET SEX</p>
      <h2>Color</h2>
      <p id="pet-color-modal">PET COLOR</p>
      <h2>Size</h2>
      <p id="pet-size-modal">PET SIZE</p>
      <h2>Intake Date</h2>
      <p id="pet-intake-date-modal">INTAKE DATE</p>
      <h2>Pet ID</h2>
      <p id="pet-id">PET ID</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="likeButton">Like</button>
      <button class="button" id="cancelButton">Cancel</button>
    </footer>
  </div>
</div>
<script src="/js/modal.js"></script>
