
<div class="select is-info" id="size">
  <select>
    <option>Size</option>
    <option>Small</option>
    <option>Medium</option>
    <option>Large</option>
  </select>
</div>
<div class="select is-info" id="color">
  <select>
    <option>Color</option>
    <option>Gray</option>
    <option>Brown</option>
    <option>Black</option>
    <option>White</option>
    <option>Blue</option>
    <option>Orange</option>
  </select>
</div>
<div class="select is-info" id="gender">
  <select>
    <option>Gender</option>
    <option>M</option>
    <option>F</option>
    <option>S</option>
    <option>N</option>
  </select>
</div>

<div class="table-container">
<table class="table is-bordered is-striped table is-hoverable">
    <thead>
    <tr>
      <th>Intake Type</th>
      <th>In Date</th>
      <th>Pet Name</th>
      <th>Age</th>
      <th>Size</th>
      <th>Color</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Likes</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
  {{#each pets as |pet|}}
    <tr>
      <td>{{pet.intake_type}}</td>
      <td>{{pet.in_date}}</td>
      <th>{{pet.pet_name}}</th>
      <td>{{pet.pet_age}}</td>
      <td>{{pet.pet_size}}</td>
      <td>{{pet.color}}</td>
      <td>{{pet.breed}}</td>
      <td>{{pet.sex}}</td>
      <td></td>
      <td>{{pet.picture}}</td>
    </tr>
  {{/each}}
  </tbody>
  </table>
</div>